


<!-- <fa-app  ng-controller="PostersController" fa-perspective="500"
        style="  position: absolute;
                  top: 60px;
                  right: 0;
                  bottom: 0;
                  left: 0;
                  z-index: 0;
                  "
        >


    <fa-modifier fa-size="[undefined,undefined]"

                 fa-origin="[0, 0]"
                 fa-align="[0, 0]"
                 fa-translate="posters.grid.translate.get()"
                 fa-rotate-y="posters.grid.rotate.get()">

        <fa-surface fa-background-color="'none'" >
            <md-content >
                <md-grid-list
                              md-cols-sm="3"
                              md-row-height-sm="3:3"

                              md-cols-gt-sm="4"
                              md-row-height-gt-sm="4:4"


                              md-cols-gt-md="5"
                              md-row-height-md="5:5"


                              md-row-height-gt-md="1:1"
                              md-row-height="4:3"

                              md-gutter-sm="1px"
                              md-gutter-gt-sm="8px"

                              md-gutter-gt-md="20px"

                              md-gutter-gt-lg="10px"
                        >


                    <md-grid-tile ng-repeat= "tile in posters.tiles"
                                  md-rowspan= "{{tile.span.row}}"
                                  md-colspan= "{{tile.span.col}}"
                                  ng-class= "tile.background"
                                  ng-click= "posters.mouseHndlr($event,tile)"
                                  ng-mouseover= "posters.mouseHndlr($event,tile)"
                                  ng-mouseout= "posters.mouseHndlr($event,tile)"
                                  ng-mouseup= "posters.mouseHndlr($event,tile)"
                                  style="outline: none;
                                  cursor: pointer;
                                  "
                                  class="animate-repeat"
                                  fa-index="-100"
                            >
                        <img src="/images/grid.png" style="width: 100%">

                    <!--</md-grid-tile>

                </md-grid-list>
            </md-content>

        </fa-surface>

    </fa-modifier>

</fa-app>  -->




