$test_white_filter: drop-shadow( 0px 0px 3px white );
.test_white_filter {

  svg {
    -webkit-filter: $test_white_filter;
    filter: $test_white_filter;

    &:hover {
      -webkit-filter: initial;
      filter: initial;
    }
  }
}

.hero_content {
  margin: auto;
  width: 100%;
  background-color: rgb(25,25,25)!important;

  .hero {
    height: 700px;
    background-color: rgb(25,25,25);
    overflow: hidden;
    color: white;

    .sidebar {
      overflow-y: scroll; max-height: 710px;

      .mini_poster {

        img {
          width: 280px;
          height: 158px;
          border: none;
          margin-top: 28px;

          &:focus {
            outline: none!important;
          }
        }
        &:first-child {
          img {
            margin-top: 0;
          }
        }
      }
    }

    .mini_poster_spacer {
      height: 180px;
    }

    #dragend {
      display: none;

      .active_poster {
        visibility: hidden;
      }

    }

    .active_poster {
      position: relative;

      .play_button {

        md-icon {
          height: 120px;
          width: 120px;
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          cursor: pointer;

          svg {
            width: 120px;
            height: 120px;
            -webkit-filter: drop-shadow(1px 1px 3px rgba(0,0,0,0.5));;
            filter: drop-shadow(1px 1px 3px rgba(0,0,0,0.5));;

            path {
              fill: white;
            }
          }

          &:hover {
            svg {
              -webkit-filter: initial;
              filter: initial;
            }
          }
          &:active {
            svg {
              path {
                fill: $yekra_teal;
              }
            }
          }
        }
      }

      img {
        width: 100%;

      }
    }
    .product_meta_container {
      height: 276px;
      margin-top: -285px;
      width: 100%;
      background-color: rgba(25,25,25,0.8);
      z-index: 10;

      > div {
        padding: 28px 20px 20px 65px;
      }
      .close_icon_container {
        position: relative;

        md-icon {
          float: right;
          height: 25px;
          width: 25px;
          margin-top: -13px;
          cursor: pointer;

          svg {

            path {
              fill: white;
            }
          }
        }
      }
      .product_title {
        display: block;
        font-size: 32px;
        text-transform: uppercase;
        letter-spacing: 2px;
      }
      .small_synopsis, .large_synopsis {
        display: block;
        font-size: 16px;
        height: 120px;
        overflow-y: scroll;
      }
      .synopsis_see_more, .synopsis_see_less {
        margin-left: 16px;
        color: $yekra_teal;
        font-weight: bold;
        cursor: pointer;
      }
      .small_synopsis_attribution {
        font-weight: bold;
      }
      .action_row {


        .button {
          display: inline-block;
          margin-top: 12px;
          padding: 8px 26px;
          border-radius: 4px;
          border: 2px solid $yekra_teal;
          cursor: pointer;
          font-size: 13px;
          letter-spacing: 2px;
          color: white;

          &.rent {
            margin-left: 28px;
          }
        }
      }
      .icon_container {
        float: right;

        md-icon {
          width: 26px;
          height: 26px;
          margin-top: -30px;
          margin-left: 50px;
          cursor: pointer;
        }
        .share, .favorite, .add_to_list {
          svg {
            path {
              fill: white!important;
            }
          }
        }
        .add_to_list {
          margin-right: 20px;
        }
        .more_container {
          margin-top: -30px;
          margin-left: 40px;
          cursor: pointer;

          md-icon {
            margin-left: -2px;
            margin-top: -5px;

            svg {
              path {
                fill: white;
              }
            }
          }
        }
      }

      &.closed {
        margin-top: -120px;

        .product_title, .small_synopsis, .large_synopsis, .close_icon_container {
          display: none;
        }
      }
    }
  }

  @media screen and (max-width: 320px) {

  }
  @media screen and (max-width: 768px) {
    .hero {
      .product_meta_container {
        .icon_container {
          float: none;

          md-icon {
            margin-top: 24px;
            margin-left: auto;
            margin-right: auto;
          }
          .add_to_list {
            margin-right: auto;
          }
          .more_container {
            margin-left: 0;
            margin-top: 24px;
          }
        }
        .action_row {
          .button {
            margin: auto;

            &.rent {
              margin-left: auto!important;
            }
          }
        }
      }
      .active_poster {

        .play_button {
          md-icon {
            height: 60px;
            width: 60px;

            svg {
              height: 60px;
              width: 60px;
            }
          }
        }
      }
    }
  }
}


@media screen and (max-width: 1200px) {
  .hero {
    height: auto!important;

    .sidebar {
      display: none;
    }
    .product_meta_container {
      margin-top: 0!important;
      height: auto!important;

      .product_title, .small_synopsis, .large_synopsis, .action_row {
        padding-left: 0;
      }
      > div {
        margin-left: 0%;
        padding: 20px!important;
      }

    }
    #dragend {
      display: block!important;

      .active_poster {
        display: none;
        height: 100%!important;

        &:first-child {
          display: block!important;
        }
      }
    }
    .active_poster {

      &.solo {
        display: none;
      }
      .play_button {
        max-width: 100%;
      }
    }
  }
}
@media screen and (min-width: 1201px) {
  .hero {
    width: 1200px;
    margin: auto;
  }
}





