<md-content class="hero_content">
    <div class="hero" ng-controller="HeroController as ctrl">
        <div layout="row" >
            <div flex="30" class="sidebar">
                <div flex>
                    <div class="mini_poster" ng-repeat="product in ctrl.sidecar_poster_products track by product.original_index">
                        <img src="{{ product.poster_url }}" ng-click="ctrl.setActiveProduct($event, product.original_index)" />
                    </div>

                    <!-- ** Uncomment this to try and fix slick vs. angular updating, remove if we forego -->
                    <!--<slick class="slider single-item recommended" current-index="0" slides-to-show="{{ ctrl.temp_hero_product_data.length }}"-->
                           <!--speed=600 arrows="false" vertical="true" verticalSwiping="true">-->
                        <!--<div class="mini_poster" ng-repeat="product in ctrl.temp_hero_product_data" ng-if="product != ctrl.active_product">-->
                            <!--<img src="{{ product.poster_url }}" class="{{ $index == 0 ? 'active' : '' }}" ng-click="ctrl.setActiveProduct($event, $index)" />-->
                        <!--</div>-->
                    <!--</slick>-->

                    <div class="mini_poster_spacer">&nbsp;</div>
                    <div class="mini_poster_spacer">&nbsp;</div>
                </div>
            </div>
            <div flex>
                <div flex  style="max-height: 675px;">
                    <div class="active_poster solo">
                        <div class="play_button">
                            <md-icon class="play" md-svg-icon="app/assets/icons/yekra_icons_final_play.svg" ng-click=""></md-icon>
                        </div>
                        <img src="{{ ctrl.active_product.poster_url }}" />
                    </div>
                    <div id="dragend" style="max-height: 675px; overflow: hidden;" data-ng-element-ready="$('#dragend').dragend()">
                        <div class="active_poster dragend-page" ng-repeat="product in ctrl.temp_hero_product_data" data-index="{{ $index }}">
                            <div class="play_button">
                                <md-icon class="play ng-isolate-scope md-default-theme" md-svg-icon="app/assets/icons/yekra_icons_final_play.svg" ng-click="" role="button" tabindex="0" aria-hidden="true"></md-icon>
                            </div>
                            <img src="{{ product.poster_url }}" on-finish-render="ngRepeatFinished" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div layout="row">
            <div class="product_meta_container" ng-class="ctrl.closed_or_open">
                <div flex offset="30">
                    <div class="close_icon_container">
                        <md-icon ng-class="ctrl.test_class" class="close" md-svg-icon="app/assets/icons/yekra_icons_final_close.svg" ng-click="ctrl.closed_or_open = 'closed'"></md-icon>
                    </div>
                    <div class='product_title'>{{ ctrl.active_product.title }}</div>

                    <div class='small_synopsis' ng-if="!ctrl.show_large_synopsis">
                        <span>"{{ ctrl.active_product.small_synopsis }}"</span>
                        <span class="small_synopsis_attribution"> - {{ ctrl.active_product.small_synopsis_attribution }}</span>
                        <span class="synopsis_see_more" ng-click="ctrl.show_large_synopsis = true">See More</span>
                    </div>

                    <div class='large_synopsis' ng-if="ctrl.show_large_synopsis">
                        <span>"{{ ctrl.active_product.large_synopsis }}"</span>
                        <span class="small_synopsis_attribution"> - {{ ctrl.active_product.small_synopsis_attribution }}</span>
                        <span class="synopsis_see_less" ng-click="ctrl.show_large_synopsis = false">See Less</span>
                    </div>

                    <div layout="row" class="action_row">
                        <div class="button buy">BUY ${{ ctrl.active_product.buy_price }}</div>
                        <div class="button rent">RENT ${{ ctrl.active_product.rent_price }}</div>
                    </div>

                    <div flex layout="row" class="icon_container">
                        <md-icon ng-class="ctrl.test_class" class="share" md-svg-icon="app/assets/icons/yekra_icons_final_share.svg" ng-click=""></md-icon>
                        <md-icon ng-class="ctrl.test_class" class="favorite" md-svg-icon="app/assets/icons/yekra_icons_final_favorite.svg" ng-click=""></md-icon>
                        <md-icon ng-class="ctrl.test_class" class="add_to_list" md-svg-icon="app/assets/icons/yekra_icons_final_addtolist.svg" ng-click="ctrl.toggleTestClass()"></md-icon>
                        <div class="more_container" ng-if="ctrl.closed_or_open == 'closed'" ng-click="ctrl.closed_or_open = 'open'">
                            More <md-icon class="uparrow" md-svg-icon="app/assets/icons/yekra_icons_final_uparrow.svg"></md-icon>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</md-content>

<!--tab navigation-->
<!--<div ng-controller="MainController as ctrl"  class="sample row"-->
     <!--style="z-index:20;-->
            <!--position:relative;-->
            <!--width:100%;-->
            <!--">-->

    <!--<div layout="row" layout-align="end start"-->
         <!--style="float:right;-->
         <!--padding-right: 20px;-->
         <!--background-color:#bdbdbd;-->
         <!--height: 48px;-->
         <!--">-->
        <!--<md-select placeholder="Sort by" ng-model="sortVal">-->
            <!--<md-option value="1">item one</md-option>-->
            <!--<md-option value="2">item two</md-option>-->
        <!--</md-select>-->
    <!-- </div> -->


    <!--<div id="player"></div>-->


    <!--<md-tabs class="md-primary"   md-selected="ctrl.selectedIndex" style="max-height:48px">-->
        <!--<md-tab id="tab1" md-on-select="ctrl.tabClick(0)" ng-link="overview" href="/overview">-->
            <!--<md-tab-label>OVERVIEW</md-tab-label>-->
        <!--</md-tab>-->
        <!--<md-tab id="tab2" md-on-select="ctrl.tabClick(1)">-->
            <!--<md-tab-label>RANDOMIZE</md-tab-label>-->
        <!--</md-tab>-->
        <!--<md-tab id="tab3" md-on-select="ctrl.tabClick(2)">-->
            <!--<md-tab-label>RECOMMENDED</md-tab-label>-->
        <!--</md-tab>-->
        <!--<md-tab id="tab1" md-on-select="ctrl.tabClick(3)">-->
            <!--<md-tab-label>GENRES & MOODS</md-tab-label>-->
        <!--</md-tab>-->
        <!--<md-tab id="tab2" md-on-select="ctrl.tabClick(4)">-->
            <!--<md-tab-label>PLAYLISTS</md-tab-label>-->
        <!--</md-tab>-->
        <!--<md-tab id="tab3" md-on-select="tabClick(5)">-->
            <!--<md-tab-label>NEWS</md-tab-label>-->
        <!--</md-tab>-->
    <!--</md-tabs>-->



