md-content.navbar {
  margin-top: 0px;
  background-color: black;
  height: 100px;
}

md-toolbar {
  width: 95%;
  margin: auto;
}

.md-toolbar-tools {
  padding: 0px;
  background-color: black;
  max-height: 100px;
}
.md-toolbar-tools .yekra_logo_icon {
  width: 84px;
}
.md-toolbar-tools .account_row {
  margin-right: 30px;
}
.md-toolbar-tools button.login, .md-toolbar-tools .signup {
  color: white;
  font-family: "BT Futura W01";
  font-weight: 200;
}
.md-toolbar-tools .signup {
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  border: 2px solid #4fdfd3;
}
.md-toolbar-tools md-icon.yekra_search_icon svg path {
  fill: white;
}
.md-toolbar-tools md-icon.yekra_search_icon_black {
  position: relative;
  left: 30px;
  z-index: 2;
}
.md-toolbar-tools md-icon.yekra_search_icon_black svg path {
  fill: black;
}

.md-autocomplete, .y_autocomplete {
  width: 330px;
}

.md-autocomplete {
  z-index: 1;
  height: 30px;
}
.md-autocomplete button {
  top: 6px;
  right: 8px;
}
.md-autocomplete input:not(.md-input) {
  top: -4px;
  margin-left: 30px;
  width: 260px;
}
.md-autocomplete md-autocomplete-wrap {
  height: 30px;
}
.md-autocomplete md-autocomplete-wrap input {
  padding-top: 0px;
}

.md-autocomplete-suggestions.md-default-theme li {
  border: none;
}

.y_autocomplete {
  max-height: 500px !important;
}
.y_autocomplete li {
  font-family: "BT Futura W01";
}
.y_autocomplete li:first-child, .y_autocomplete .poster-wrapper {
  height: 280px;
}
.y_autocomplete .poster-wrapper {
  padding-top: 20px;
}
.y_autocomplete .poster-wrapper img, .y_autocomplete .poster-wrapper span, .y_autocomplete .poster-wrapper .divider, .y_autocomplete .poster-wrapper .search_tip {
  width: 260px;
}
.y_autocomplete .poster-wrapper img {
  height: 160px;
}
.y_autocomplete .poster-wrapper .item_display, .y_autocomplete .poster-wrapper .search_tip {
  padding-left: 20px;
  font-style: italic;
}
.y_autocomplete .poster-wrapper .item_display {
  white-space: pre-line;
  border-bottom: 1px solid #555;
}

@media screen and (min-width: 1201px) {
  md-toolbar {
    width: 1200px;
    margin: auto;
  }
}
.stick {
  position: fixed;
  top: 0;
  z-index: 10000;
  width: 100%;
}

.filterbar_anchor {
  background-color: #f8f6f3 !important;
}

.filterbar_container {
  overflow: hidden;
  background-color: #f8f6f3 !important;
}

md-tabs md-ink-bar {
  height: 3px;
}
md-tabs md-tabs-canvas {
  background-color: #f8f6f3 !important;
}
md-tabs md-tab-content {
  text-align: center;
}
md-tabs md-tab-item {
  color: black !important;
  height: 56px;
  line-height: 56px !important;
}

.sort_by_container {
  float: right;
  padding-right: 20px;
  background-color: #f8f6f3;
}
.sort_by_container .chevron_down_icon {
  position: relative;
  margin-left: -30px;
  cursor: pointer;
}
.sort_by_container .chevron_down_icon svg path {
  fill: black;
}
.sort_by_container md-select {
  height: 80px;
  margin: 0;
}
.sort_by_container md-select md-select-label {
  border-bottom: none !important;
  line-height: 80px;
  padding: 0 !important;
  margin-top: 0 !important;
  height: 80px;
}
.sort_by_container md-select md-select-label .md-select-icon::after {
  content: "" !important;
}

md-tabs.md-default-theme md-ink-bar {
  color: #4fdfd3 !important;
  background: #4fdfd3 !important;
}

.tabs_content {
  padding-top: 15px;
}
.tabs_content .poster_container {
  display: inline-block;
  padding-top: 25px;
  padding-bottom: 25px;
  width: 200px;
}
.tabs_content .poster_container .baby_overlay_container {
  display: none;
}
.tabs_content .poster_container img {
  width: 200px;
  height: 300px;
}
.tabs_content md-tabs-wrapper {
  display: none;
}

@media screen and (max-width: 320px) {
  .tabs_content .poster_container img {
    width: 100px;
    height: 150px;
  }
}
@media screen and (max-width: 768px) {
  .tabs_content .poster_container {
    width: 100px;
    height: 150px;
  }
  .tabs_content .poster_container .baby_overlay_container {
    font-size: 11px;
    color: white;
    position: relative;
    width: 100px;
    display: block !important;
  }
  .tabs_content .poster_container .baby_overlay_container .baby_overlay_content {
    width: 100%;
    height: 30px;
    position: absolute;
    background-color: rgba(25, 25, 25, 0.8);
    bottom: -150px;
  }
  .tabs_content .poster_container .baby_overlay_container .baby_overlay_content .film_title {
    font-size: 10px;
    padding-top: 8px;
    padding-left: 8px;
  }
  .tabs_content .poster_container .baby_overlay_container .baby_overlay_content .baby_more_container md-icon {
    margin-top: 2px;
    margin-left: -2px;
  }
  .tabs_content .poster_container .baby_overlay_container .baby_overlay_content .baby_more_container md-icon svg circle {
    fill: white;
  }
  .tabs_content .poster_container img {
    width: 100px;
    height: 150px;
  }
}
@media screen and (max-width: 1200px) {
  .tabs_content {
    width: 100%;
  }
  .tabs_content .poster_container {
    margin-left: 25px;
    margin-right: 25px;
  }
}
@media screen and (min-width: 1201px) {
  .filterbar {
    width: 1200px;
    margin: auto;
  }

  .tabs_content {
    width: 1200px;
    margin: auto;
  }
  .tabs_content .poster_container {
    margin-right: 50px;
  }
  .tabs_content .poster_container:nth-child(5n) {
    margin-right: 0;
  }
}
.animate-show {
  -moz-animation: swipe-right 0.3s ease-out;
  -webkit-animation: swipe-right 0.3s ease-out;
  animation: swipe-right 0.3s ease-out;
}
.animate-show.ng-hide {
  -moz-animation: swipe-left 0.3s ease-out;
  -webkit-animation: swipe-left 0.3s ease-out;
  animation: swipe-left 0.3s ease-out;
}

.animate-flip {
  -moz-animation: flipInY 0.6s ease-out;
  -webkit-animation: flipInY 0.6s ease-out;
  animation: flipInY 0.6s ease-out;
}

.md-icon {
  width: 50%;
  height: 50%;
}

.md-icon svg {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

.s64 {
  font-size: 64px;
}

.s32 {
  font-size: 48px;
}

.md-icon.fa {
  display: block;
  padding-left: 0px;
}

.s32 span {
  padding-left: 8px;
}

.md-grid-list {
  margin: 8px;
}

.gray {
  background: #f5f5f5;
}

.grey {
  background: grey;
}

.channels-content {
  padding: 0 200px 0 200px;
}
.channels-content.gt-md {
  padding: 0;
}

.md-select-label {
  padding-top: 0;
  margin-top: -6px;
}

.md-grid-tile md-icon {
  padding-bottom: 32px;
}

.md-grid-tile md-grid-tile-footer {
  background: rgba(0, 0, 0, 0.68);
  height: 24px;
}

.md-grid-tile-footer figcaption {
  width: 100%;
}

.md-grid-tile-footer figcaption h3 {
  margin: 0px;
  font-weight: 700;
  width: 100%;
  text-align: center;
}

@-moz-keyframes blur {
  from {
    filter: blur(0px);
  }
  to {
    filter: blur(8px);
  }
}
@-webkit-keyframes blur {
  from {
    -webkit-filter: blur(0px);
    filter: blur(0px);
  }
  to {
    -webkit-filter: blur(8px);
    filter: blur(8px);
  }
}
@keyframes blur {
  from {
    -webkit-filter: blur(0px);
    filter: blur(0px);
  }
  to {
    -webkit-filter: blur(8px);
    filter: blur(8px);
  }
}
@-moz-keyframes swipe-left {
  from {
    left: 0px;
  }
  to {
    left: -200px;
  }
}
@-webkit-keyframes swipe-left {
  from {
    left: 0px;
  }
  to {
    left: -200px;
  }
}
@keyframes swipe-left {
  from {
    left: 0px;
  }
  to {
    left: -200px;
  }
}
@-moz-keyframes swipe-right {
  from {
    left: -200px;
  }
  to {
    left: 0px;
  }
}
@-webkit-keyframes swipe-right {
  from {
    left: -200px;
  }
  to {
    left: 0px;
  }
}
@keyframes swipe-right {
  from {
    left: -200px;
  }
  to {
    left: 0px;
  }
}
.ng-animate.ng-enter {
  -moz-animation: fade-in 0.2s ease-out;
  -webkit-animation: fade-in 0.2s ease-out;
  animation: fade-in 0.2s ease-out;
}

.animate-repeat {
  /*box-sizing:border-box;*/
}

.animate-repeat.ng-enter {
  opacity: 0;
}

/**
 * Stagger ENTER ANIMATION
 */
.animate-repeat.ng-enter-stagger {
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
  -webkit-transition-duration: 0s;
  transition-duration: 0s;
}

.animate-repeat.ng-enter.ng-enter-active {
  opacity: 1;
  transition: all ease 250ms;
}

@-moz-keyframes move-up {
  from {
    top: 0px;
  }
  to {
    top: -300px;
  }
}
@-webkit-keyframes move-up {
  from {
    top: 0px;
  }
  to {
    top: -300px;
  }
}
@keyframes move-up {
  from {
    top: 0px;
  }
  to {
    top: -300px;
  }
}
@-moz-keyframes move-dwn {
  from {
    top: -300px;
  }
  to {
    top: 0px;
  }
}
@-webkit-keyframes move-dwn {
  from {
    top: -300px;
  }
  to {
    top: 0px;
  }
}
@keyframes move-dwn {
  from {
    top: -300px;
  }
  to {
    top: 0px;
  }
}
@-moz-keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: .3;
  }
}
@-webkit-keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: .3;
  }
}
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: .3;
  }
}
@-moz-keyframes fade-out {
  from {
    opacity: .3;
  }
  to {
    opacity: 0;
  }
}
@-webkit-keyframes fade-out {
  from {
    opacity: .3;
  }
  to {
    opacity: 0;
  }
}
@keyframes fade-out {
  from {
    opacity: .3;
  }
  to {
    opacity: 0;
  }
}
.test_white_filter svg {
  -webkit-filter: drop-shadow(0px 0px 3px white);
  filter: drop-shadow(0px 0px 3px white);
}
.test_white_filter svg:hover {
  -webkit-filter: initial;
  filter: initial;
}

.hero_content {
  margin: auto;
  width: 100%;
  background-color: #191919 !important;
}
.hero_content .hero {
  height: 700px;
  background-color: #191919;
  overflow: hidden;
  color: white;
}
.hero_content .hero .sidebar {
  overflow-y: scroll;
  max-height: 710px;
}
.hero_content .hero .sidebar .mini_poster img {
  width: 280px;
  height: 158px;
  border: none;
  margin-top: 28px;
}
.hero_content .hero .sidebar .mini_poster img:focus {
  outline: none !important;
}
.hero_content .hero .sidebar .mini_poster:first-child img {
  margin-top: 0;
}
.hero_content .hero .mini_poster_spacer {
  height: 180px;
}
.hero_content .hero #dragend {
  display: none;
}
.hero_content .hero #dragend .active_poster {
  visibility: hidden;
}
.hero_content .hero .active_poster {
  position: relative;
}
.hero_content .hero .active_poster .play_button md-icon {
  height: 120px;
  width: 120px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  cursor: pointer;
}
.hero_content .hero .active_poster .play_button md-icon svg {
  width: 120px;
  height: 120px;
  -webkit-filter: drop-shadow(1px 1px 3px rgba(0, 0, 0, 0.5));
  filter: drop-shadow(1px 1px 3px rgba(0, 0, 0, 0.5));
}
.hero_content .hero .active_poster .play_button md-icon svg path {
  fill: white;
}
.hero_content .hero .active_poster .play_button md-icon:hover svg {
  -webkit-filter: initial;
  filter: initial;
}
.hero_content .hero .active_poster .play_button md-icon:active svg path {
  fill: #4fdfd3;
}
.hero_content .hero .active_poster img {
  width: 100%;
}
.hero_content .hero .product_meta_container {
  height: 276px;
  margin-top: -285px;
  width: 100%;
  background-color: rgba(25, 25, 25, 0.8);
  z-index: 10;
}
.hero_content .hero .product_meta_container > div {
  padding: 28px 20px 20px 65px;
}
.hero_content .hero .product_meta_container .close_icon_container {
  position: relative;
}
.hero_content .hero .product_meta_container .close_icon_container md-icon {
  float: right;
  height: 25px;
  width: 25px;
  margin-top: -13px;
  cursor: pointer;
}
.hero_content .hero .product_meta_container .close_icon_container md-icon svg path {
  fill: white;
}
.hero_content .hero .product_meta_container .product_title {
  display: block;
  font-size: 32px;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.hero_content .hero .product_meta_container .small_synopsis, .hero_content .hero .product_meta_container .large_synopsis {
  display: block;
  font-size: 16px;
  height: 120px;
  overflow-y: scroll;
}
.hero_content .hero .product_meta_container .synopsis_see_more, .hero_content .hero .product_meta_container .synopsis_see_less {
  margin-left: 16px;
  color: #4fdfd3;
  font-weight: bold;
  cursor: pointer;
}
.hero_content .hero .product_meta_container .small_synopsis_attribution {
  font-weight: bold;
}
.hero_content .hero .product_meta_container .action_row .button {
  display: inline-block;
  margin-top: 12px;
  padding: 8px 26px;
  border-radius: 4px;
  border: 2px solid #4fdfd3;
  cursor: pointer;
  font-size: 13px;
  letter-spacing: 2px;
  color: white;
}
.hero_content .hero .product_meta_container .action_row .button.rent {
  margin-left: 28px;
}
.hero_content .hero .product_meta_container .icon_container {
  float: right;
}
.hero_content .hero .product_meta_container .icon_container md-icon {
  width: 26px;
  height: 26px;
  margin-top: -30px;
  margin-left: 50px;
  cursor: pointer;
}
.hero_content .hero .product_meta_container .icon_container .share svg path, .hero_content .hero .product_meta_container .icon_container .favorite svg path, .hero_content .hero .product_meta_container .icon_container .add_to_list svg path {
  fill: white !important;
}
.hero_content .hero .product_meta_container .icon_container .add_to_list {
  margin-right: 20px;
}
.hero_content .hero .product_meta_container .icon_container .more_container {
  margin-top: -30px;
  margin-left: 40px;
  cursor: pointer;
}
.hero_content .hero .product_meta_container .icon_container .more_container md-icon {
  margin-left: -2px;
  margin-top: -5px;
}
.hero_content .hero .product_meta_container .icon_container .more_container md-icon svg path {
  fill: white;
}
.hero_content .hero .product_meta_container.closed {
  margin-top: -120px;
}
.hero_content .hero .product_meta_container.closed .product_title, .hero_content .hero .product_meta_container.closed .small_synopsis, .hero_content .hero .product_meta_container.closed .large_synopsis, .hero_content .hero .product_meta_container.closed .close_icon_container {
  display: none;
}
@media screen and (max-width: 768px) {
  .hero_content .hero .product_meta_container .icon_container {
    float: none;
  }
  .hero_content .hero .product_meta_container .icon_container md-icon {
    margin-top: 24px;
    margin-left: auto;
    margin-right: auto;
  }
  .hero_content .hero .product_meta_container .icon_container .add_to_list {
    margin-right: auto;
  }
  .hero_content .hero .product_meta_container .icon_container .more_container {
    margin-left: 0;
    margin-top: 24px;
  }
  .hero_content .hero .product_meta_container .action_row .button {
    margin: auto;
  }
  .hero_content .hero .product_meta_container .action_row .button.rent {
    margin-left: auto !important;
  }
  .hero_content .hero .active_poster .play_button md-icon {
    height: 60px;
    width: 60px;
  }
  .hero_content .hero .active_poster .play_button md-icon svg {
    height: 60px;
    width: 60px;
  }
}

@media screen and (max-width: 1200px) {
  .hero {
    height: auto !important;
  }
  .hero .sidebar {
    display: none;
  }
  .hero .product_meta_container {
    margin-top: 0 !important;
    height: auto !important;
  }
  .hero .product_meta_container .product_title, .hero .product_meta_container .small_synopsis, .hero .product_meta_container .large_synopsis, .hero .product_meta_container .action_row {
    padding-left: 0;
  }
  .hero .product_meta_container > div {
    margin-left: 0%;
    padding: 20px !important;
  }
  .hero #dragend {
    display: block !important;
  }
  .hero #dragend .active_poster {
    display: none;
    height: 100% !important;
  }
  .hero #dragend .active_poster:first-child {
    display: block !important;
  }
  .hero .active_poster.solo {
    display: none;
  }
  .hero .active_poster .play_button {
    max-width: 100%;
  }
}
@media screen and (min-width: 1201px) {
  .hero {
    width: 1200px;
    margin: auto;
  }
}
.player {
  width: 100%;
}

.recommended.ng-enter {
  -moz-animation: fade-in 0.2s ease-out;
  -webkit-animation: fade-in 0.2s ease-out;
  animation: fade-in 0.2s ease-out;
}

.ng-animate.ng-enter {
  -moz-animation: fade-in 0.2s ease-out;
  -webkit-animation: fade-in 0.2s ease-out;
  animation: fade-in 0.2s ease-out;
}

.animate-repeat {
  /*box-sizing:border-box;*/
}

.animate-repeat.ng-enter {
  opacity: 0;
}

/**
 * Stagger ENTER ANIMATION
 */
.animate-repeat.ng-enter-stagger {
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
  -webkit-transition-duration: 0s;
  transition-duration: 0s;
}

.animate-repeat.ng-enter.ng-enter-active {
  opacity: 1;
  transition: all ease 250ms;
}

@-moz-keyframes move-up {
  from {
    top: 0px;
  }
  to {
    top: -300px;
  }
}
@-webkit-keyframes move-up {
  from {
    top: 0px;
  }
  to {
    top: -300px;
  }
}
@keyframes move-up {
  from {
    top: 0px;
  }
  to {
    top: -300px;
  }
}
@-moz-keyframes move-dwn {
  from {
    top: -300px;
  }
  to {
    top: 0px;
  }
}
@-webkit-keyframes move-dwn {
  from {
    top: -300px;
  }
  to {
    top: 0px;
  }
}
@keyframes move-dwn {
  from {
    top: -300px;
  }
  to {
    top: 0px;
  }
}
@-moz-keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: .3;
  }
}
@-webkit-keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: .3;
  }
}
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: .3;
  }
}
@-moz-keyframes fade-out {
  from {
    opacity: .3;
  }
  to {
    opacity: 0;
  }
}
@-webkit-keyframes fade-out {
  from {
    opacity: .3;
  }
  to {
    opacity: 0;
  }
}
@keyframes fade-out {
  from {
    opacity: .3;
  }
  to {
    opacity: 0;
  }
}
body {
  -moz-border-radius-topleft: 8px;
  -webkit-border-top-left-radius: 8px;
  border-top-left-radius: 8px;
  -moz-border-radius-topright: 8px;
  -webkit-border-top-right-radius: 8px;
  border-top-right-radius: 8px;
  border-radius: 8px !important;
  background-color: transparent !important;
  font-family: "Futura", sans-serif;
}

md-list .md-button {
  color: inherit;
  font-weight: 400;
  text-align: left;
  width: 100%;
}

.animate-enter {
  -webkit-transition: 1s linear all;
  /* Chrome */
  transition: 1s linear all;
  opacity: 0;
}

:focus {
  outline: none !important;
}

@-moz-keyframes move-up {
  from {
    top: 0px;
  }
  to {
    top: -300px;
  }
}
@-webkit-keyframes move-up {
  from {
    top: 0px;
  }
  to {
    top: -300px;
  }
}
@keyframes move-up {
  from {
    top: 0px;
  }
  to {
    top: -300px;
  }
}
@-moz-keyframes move-dwn {
  from {
    top: -300px;
  }
  to {
    top: 0px;
  }
}
@-webkit-keyframes move-dwn {
  from {
    top: -300px;
  }
  to {
    top: 0px;
  }
}
@keyframes move-dwn {
  from {
    top: -300px;
  }
  to {
    top: 0px;
  }
}
@-moz-keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: .3;
  }
}
@-webkit-keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: .3;
  }
}
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: .3;
  }
}
@-moz-keyframes fade-out {
  from {
    opacity: .3;
  }
  to {
    opacity: 0;
  }
}
@-webkit-keyframes fade-out {
  from {
    opacity: .3;
  }
  to {
    opacity: 0;
  }
}
@keyframes fade-out {
  from {
    opacity: .3;
  }
  to {
    opacity: 0;
  }
}
@font-face {
  font-family: 'Pacifico';
  src: url("pacifico.eot");
  src: url("pacifico.eot?#iefix") format("embedded-opentype"), url("pacifico.woff") format("woff"), url("pacifico.ttf") format("truetype"), url("pacifico.svg#Pacifico") format("svg");
}
