@import "compass/css3/border-radius";
//@import "compass/css3/filter";

$filterbar_background: rgb(248, 246, 243);

.stick {
  position: fixed;
  top: 0;
  z-index: 10000;
  width: 100%;
}

.filterbar_anchor {
  background-color: $filterbar_background!important;
}
.filterbar_container {
  overflow: hidden;
  background-color: $filterbar_background!important;
}

md-tabs{

  md-ink-bar{
    height: 3px;
  }
  md-tabs-wrapper {

  }
  md-tabs-canvas {
    background-color: $filterbar_background!important;
  }
  md-tab-content {
    text-align: center;
  }
  md-tab-item {
    color: black!important;
    height: 56px;
    line-height: 56px!important;
  }
}

.sort_by_container {
  float: right;
  padding-right: 20px;
  background-color: $filterbar_background;

  .chevron_down_icon {
    position: relative;
    margin-left: -30px;
    cursor: pointer;

    svg {
      path {
        fill: black;
      }
    }
  }
  md-select {
    height: 80px;
    margin: 0;

    md-select-label {
      border-bottom: none!important;
      line-height: 80px;
      padding: 0!important;
      margin-top: 0!important;
      height: 80px;

      .md-select-icon {
        //display: none;

        &::after {
          content: ''!important;
        }
      }
    }
  }
}

md-tabs.md-default-theme md-ink-bar {
  color: $yekra_teal!important;
  background: $yekra_teal!important;
}

// This is to hide the "content" md-tabs component's link portion at the top.
.tabs_content {
  padding-top: 15px;

  .poster_container {
    display: inline-block;
    padding-top: 25px; padding-bottom: 25px;
    width: 200px;

    .baby_overlay_container {
      display: none;
    }

    img {
      width: 200px;
      height: 300px;
    }
  }
  md-tabs-wrapper {
    display: none;
  }
}

@media screen and (max-width: 320px) {
  .tabs_content {

    .poster_container {

      img {
        width: 100px;
        height: 150px;
      }
    }
  }
}
@media screen and (max-width: 768px) {
  .tabs_content {

    .poster_container {
      width: 100px;
      height: 150px;

      .baby_overlay_container {
        font-size: 11px;
        color: white;
        position: relative;
        width: 100px;
        display: block!important;


        .baby_overlay_content {
          width: 100%;
          height: 30px;
          position: absolute;
          background-color: rgba(25, 25, 25, 0.8);
          bottom: -150px;


          .film_title {
            font-size: 10px;
            padding-top: 8px;
            padding-left: 8px;
          }
          .baby_more_container {


            md-icon {
              margin-top: 2px;
              margin-left: -2px;

              svg {
                circle {
                  fill: white;
                }
              }
            }
          }
        }
      }
      img {
        width: 100px;
        height: 150px;
      }
    }
  }
}
@media screen and (max-width: 1200px) {
  .tabs_content {
    width: 100%;

    .poster_container {
      margin-left: 25px;
      margin-right: 25px;
    }
  }
}
@media screen and (min-width: 1201px) {
  .filterbar {
    width: 1200px;
    margin: auto;
  }
  .tabs_content {
    width: 1200px;
    margin: auto;

    .poster_container {
      margin-right: 50px;

      &:nth-child(5n) {
        margin-right: 0;
      }
    }
  }
}

