<div ng-controller="FilterbarController as ctrl">
    <div class="filterbar_anchor"></div>
    <md-content class="filterbar_container">

        <div class="filterbar">

            <div style="">
                <div layout="row" layout-align="end start" class='sort_by_container'>

                    <md-select placeholder="Sort by" ng-model="sortVal">

                        <md-option value="1">Alphabetical</md-option>
                        <md-option value="2">Price</md-option>
                        <md-option value="3">Popularity</md-option>
                    </md-select>
                    <md-icon class="chevron_down_icon" md-svg-icon="app/assets/icons/yekra_icons_final_downarrow.svg" ng-click="ctrl.clickSortSelect()"></md-icon>
                </div>
            </div>

            <md-tabs md-dynamic-height md-selected="ctrl.selectedIndex">
                <md-tab label="OVERVIEW" md-on-select="ctrl.tabClick(0)"></md-tab>
                <md-tab label="RANDOMIZE" md-on-select="ctrl.tabClick(1)"></md-tab>
                <md-tab label="RECOMMENDED" md-on-select="ctrl.tabClick(2)"></md-tab>
                <md-tab label="GENRES & MOODS" md-on-select="ctrl.tabClick(3)"></md-tab>
                <md-tab label="PLAYLISTS" md-on-select="ctrl.tabClick(4)"></md-tab>
                <md-tab label="NEWS" md-on-select="ctrl.tabClick(5)"></md-tab>
            </md-tabs>

        </div>
    </md-content>

    <md-content>
        <md-tabs class="tabs_content" md-dynamic-height md-selected="ctrl.selectedIndex">
            <md-tab label="OVERVIEW" class="overview_content">
                <div class="poster_container" ng-repeat="product in ctrl.temp_hero_product_data">
                    <div class="baby_overlay_container">
                        <div layout="row" class="baby_overlay_content">
                            <div flex class="film_title">{{ product.title }}</div>
                            <div flex="20" class="baby_more_container">
                                <md-icon class="more" md-svg-icon="app/assets/icons/yekra_icons_final_more.svg" ng-click=""></md-icon>
                            </div>
                        </div>
                    </div>
                    <img src="https://ddffb4zqcuprk.cloudfront.net/assets/files/2298/375/Yekra_poster_background250x375.jpg?1421783033">
                </div>
            </md-tab>
            <md-tab label="RANDOMIZE" class="randomize_content">
                <div class="poster_container" ng-repeat="product in ctrl.temp_hero_product_data">
                    <img src="https://ddffb4zqcuprk.cloudfront.net/assets/files/2298/375/Yekra_poster_background250x375.jpg?1421783033">
                </div>
            </md-tab>
            <md-tab label="RECOMMENDED" md-on-select="ctrl.tabClick(2)">
                <div class="poster_container" ng-repeat="product in ctrl.temp_hero_product_data">
                    <img src="https://ddffb4zqcuprk.cloudfront.net/assets/files/2298/375/Yekra_poster_background250x375.jpg?1421783033">
                </div>
            </md-tab>
            <md-tab label="GENRES & MOODS" md-on-select="ctrl.tabClick(3)">
                <div class="poster_container" ng-repeat="product in ctrl.temp_hero_product_data">
                    <img src="https://ddffb4zqcuprk.cloudfront.net/assets/files/2298/375/Yekra_poster_background250x375.jpg?1421783033">
                </div>
            </md-tab>
            <md-tab label="PLAYLISTS" md-on-select="ctrl.tabClick(4)">
                <div class="poster_container" ng-repeat="product in ctrl.temp_hero_product_data">
                    <img src="https://ddffb4zqcuprk.cloudfront.net/assets/files/2298/375/Yekra_poster_background250x375.jpg?1421783033">
                </div>
            </md-tab>
            <md-tab label="NEWS" md-on-select="ctrl.tabClick(5)">
                <div class="poster_container" ng-repeat="product in ctrl.temp_hero_product_data">
                    <img src="https://ddffb4zqcuprk.cloudfront.net/assets/files/2298/375/Yekra_poster_background250x375.jpg?1421783033">
                </div>
            </md-tab>
        </md-tabs>

    </md-content>
</div>
