@import "compass/css3/border-radius";
@import "compass/css3/images";
$yekra_teal: rgb(79, 223, 211);
$bt-futura: 'BT Futura W01';

//@import "compass/css3/filter";

md-content.navbar {
  margin-top: 0px;
  background-color: black;
  height: 100px;
}

md-toolbar {
  width: 95%;
  margin: auto;
}

.md-toolbar-tools {
  padding: 0px;
  background-color: black;
  max-height: 100px;

  .yekra_logo_icon {
    width: 84px;
  }

  .account_row {
    margin-right: 30px;
  }

  button.login, .signup {
    color: white;
    font-family: $bt-futura;
    font-weight: 200;
  }

  .signup {
    @include border-radius(20px);
    border: 2px solid $yekra_teal;
  }

  md-icon.yekra_search_icon {
    svg {
      path {
        fill: white;
      }
    }
  }
  md-icon.yekra_search_icon_black {
    position: relative;
    left: 30px;
    z-index: 2;
    svg {
      path {
        fill: black;
      }
    }
  }
}
.md-autocomplete, .y_autocomplete {
  width: 330px;
}
.md-autocomplete {
  z-index: 1;
  height: 30px;
  button{
    top: 6px;
    right: 8px;
  }
  input:not(.md-input) {
    top: -4px;
    margin-left: 30px;
    width: 260px;
  }
  md-autocomplete-wrap {
    height: 30px;
    input {
      padding-top: 0px;
    }

    //md-progress-linear {
    //  .md-container {
    //    transition: none;
    //    top: auto;
    //    max-width: 276px;
    //    left: 12px;
    //   // background-color: red;
    //    height: 2px;
    //  }
    //}
  }


}
.md-autocomplete-suggestions.md-default-theme {
  li {
    border: none;
  }
}
.y_autocomplete {
  @mixin item-detail {
    padding-left: 20px;
    font-style: italic;
  }
  max-height: 500px !important;
  li {
    font-family: $bt-futura;
  }
  li:first-child, .poster-wrapper {
    height: 280px;
  }
  .poster-wrapper {
    padding-top: 20px;
    img, span, .divider, .search_tip {
      width: 260px;
    }
    img {
      height: 160px;
    }
    .item_display, .search_tip {
      @include item-detail;
    }
    .item_display {
      white-space: pre-line;
      border-bottom: 1px solid #555;
    }
  }
}

@media screen and (min-width: 1201px) {
  md-toolbar {
    width: 1200px;
    margin: auto;
  }
}
