<md-content class="navbar">
  <md-toolbar ng-controller="NavbarController as navCtrl">
    <div class="md-toolbar-tools">

      <section flex-sm="20" layout="row" layout-sm="row" layout-align="center center">
        <md-icon md-svg-icon="images/icons/menu.svg" hide-gt-sm role="button" ng-click="toggleSidenav('right')" aria-label="More" style="color: white;"></md-icon>
        <!--
        <md-button hide-gt-sm class="md-icon-button" ng-click="toggleSidenav('right')" aria-label="More">
          <md-icon md-svg-icon="images/icons/menu.svg" style="color: white;"></md-icon>
        </md-button>
        -->
      </section>

      <section flex-sm="66" layout="row" layout-sm="row" layout-align="start center" layout-align-sm="center center" ng-hide="navCtrl.showsearchbar">
        <!--
        <md-button ng-link="/" href="./">
        <img ng-link="/" href="./" src="app/assets/icons/yekra_masterlogo_white.svg" role="button" class="yekra_logo_icon">
        </md-button>
        -->
          <img src="app/assets/icons/yekra_masterlogo_white.svg" class="yekra_logo_icon">
      </section>

      <section class="account_row" layout="row" layout-align="end center" hide-sm flex="">
        <div ng-hide="navCtrl.showsearchbar">
          <md-button ng-click="showAlert($event)" md-no-ink class="login">LOG IN</md-button>
        </div>
        <div ng-hide="navCtrl.showsearchbar" class="signup">
          <md-button ng-click="showAlert($event)" md-no-ink style="color: white;">SIGN UP</md-button>
        </div>
      </section>

      <section layout="row" layout-align="end center">
        <div ng-controller="autocompleteCtrl as ctrl" layout="row" layout-align="end center">
          <md-icon md-svg-icon="app/assets/icons/yekra_icons_final_search.svg" class="yekra_search_icon_black" ng-click="navCtrl.showSearchBar()" ng-show="navCtrl.showsearchbar"></md-icon>
          <md-autocomplete class="md-autocomplete"
                           ng-disabled="ctrl.isDisabled"
                           md-menu-class="y_autocomplete"
                           md-no-cache="ctrl.noCache"
                           md-selected-item="ctrl.selectedItem"
                           md-search-text="ctrl.searchText"
                           md-items="item in ctrl.querySearch(ctrl.searchText)"
                           md-item-text="item.display"
                           ng-show="navCtrl.showsearchbar"
                           >
            <md-item-template>
            <div class="poster-wrapper" ng-show="item.index == 0" layout="column" layout-padding layout-align="center center">
                <img src={{item.poster_url}}>
                <span md-highlight-text="ctrl.searchText" class="item_display">{{item.display}}&nbsp;&nbsp;|&nbsp;&nbsp;90 mins</span>
                <span class="search_tip">Search for...</span>
              </div>
              <div ng-hide="item.index == 0">
                <span md-highlight-text="ctrl.searchText" style="padding-left: 25px;">{{item.display}}</span>
              </div>
            </md-item-template>
            <md-not-found>
              Sorry, we couldn't find anything for {{ctrl.searchText}}.
            </md-not-found>
          </md-autocomplete>

          <md-icon md-svg-icon="app/assets/icons/yekra_icons_final_search.svg" ng-click="navCtrl.showSearchBar()" role="button" ng-hide="navCtrl.showsearchbar" class="search-button yekra_search_icon"></md-icon>
          <!--
          <md-button class="md-icon-button search-button" ng-click="navCtrl.showSearchBar()" aria-label="Search">
            <md-icon md-svg-icon="app/assets/icons/yekra_icons_final_search.svg" class="yekra_search_icon"></md-icon>
          </md-button>
          -->
        </div>
    </section>

  </md-toolbar>
</md-content>
